body{
   background: hsl(212, 45%, 89%);
   width:1400px;
   height: 1400px;
   display: flex;
   justify-content: center;
   align-items: center;
}

div{
    width: 17%;
    background:white ;
    padding: 13px;
    text-align: center;
    border-radius: 15px;
    box-shadow:3px 3px 5px rgb(199, 195, 195) ,
     -3px -3px 5px rgb(215, 213, 213);
}
img{
    width:100%;
    border-radius: 15px;

}
.font{
    font-size: 15px;
    font-family:outfit;
    color: gray;
}